@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

:root {
    --primary-color: #0c4754;
    --secondary-color: red;
}

* {
    padding: 0;
    margin: 0;
}

body, html {
    box-sizing: border-box;
    height: 100%;
}

header {
    font-family: 'Orbitron', sans-serif;
    display: flex;
    width: 100%;
    height: 4.8vw;
    background-color: white;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 100;
}

header #options a {
    text-decoration: none;
    color: black;
    font-size: 1.5vw;
    transition: 300ms ease-in-out all;
}

header #options > a:hover, a:focus {
    transform: scale(1.2);
    color: var(--secondary-color)
}

header #logo h1 {
    font-size: 3vw;    
}

header #options {
    display: flex;
    gap: 28px;
}

header #media a img {
    width: 2vw;
    height: 2vw;
    margin-top: 0.4vw;
    transition: 300ms ease-in-out all;
}

header #media a > img:hover, img:focus {
    transform: scale(1.4);
}

main > section {
    display: flex;
    width: 100%;
    height: 51vw;
}

html {
    scroll-behavior: smooth;
}

main #home {
    display: flex;   
}

main #about {
    display: flex;
    background: linear-gradient(-20deg, #ee7752, #4b2a9f, #b01d1d, #ed3939);
    background-size:  300% 300%;
    animation: gradient 6s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

main #about #left-container {
    width: 30%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
}

main #about #left-container #photo-container #photo{
    width: 12.5vw;
    height: 12.5vw;
    background-image: url('/static/img/unnamed.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border-bottom: groove 0.8vw;
    border-right: groove 0.8vw;
    animation: chcolor 3s  ease-in infinite alternate;
}

@keyframes chcolor {
	0% {
		border-color: #b01d1d;

	}

	100% {
		border-color: #4b2a9f;

	}

}

main #about #left-container #photo-container{
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}



main #home #left-container {
    display: flex;
    flex-direction: column;
    color: white;
    width: 70%;
    height: 100%;
    background: linear-gradient(to bottom,#074963 , #076354, #07633c);
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: 'Orbitron', sans-serif;
}

footer {
    width: 100%;
    height: 4vw;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.2vw;
}

main #home #left-container h1 {
    font-size: 3vw;
    margin-bottom: 1.5vw;
}

main #home #left-container p {
    width: 54%;
    text-align:center;
    font-size: 0.98vw;
    margin-top: 2vw;
}

main #home #left-container #load {
    width: 5vw;
    height: 5vw;
    margin-top: 5vw;
    border-bottom: dashed 0.8vw red;
    border-left: groove 0.8vw red;
    border-radius: 90%;
    animation: loader 2.5s infinite alternate-reverse ease-in-out;
}

@keyframes loader {
    from {
        transform: rotate(0deg);
        
    }

    to {
        transform: rotate(360deg);
        border-bottom-color: darkred;
    }
}

main #home #right-container {
    background-image:url('/static/img/home.jpg');
    background-position: center;
    background-size: cover;
    width: 30%;
    height: 100%;
}


main #habilities {
    background-color: pink;
}

main #services {
    background-color: tomato;
}

main #contact {
    background-color: palevioletred;
}


